
   <div class = "panel-heading" style="height:60px;">
      <h3 class = "panel-title">Tasks
    <div class="pull-right" id="add_task_btn">    
      <%= link_to "Add Task",new_project_task_path(@project),:remote=>true,:class => "btn btn-primary btn-md"%>
    </div>
      </h3>
     
   </div>
   
   <div class = "panel-body">      

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="pull-right"> <a id="expandAll" href="#" class="btn btn-default" role="button">Expand All</a>

                <a id="collapseAll" href="#" class="btn btn-default" role="button">Collapse All</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
            <div class="panel-group" id="accordion">

            <%unless @tasks.blank?%>

<%@tasks.each_with_index do |task,i|%>
<div class="panel panel-default">
    <div class="panel-heading">
         <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i.to_s%>" class="">
                <%= task.title%>
              </a>
          
            </h4>

    </div>
    <div id="collapse<%= i.to_s%>" class="panel-collapse collapse">
        <div class="panel-body"><%= task.description%></div>
    </div>
</div>
<%end%>

<%else%>
 <h4>No tasks present.</h4>
<%end%> 
                
            </div>
        </div>
 

   </div>